@font-face {
    font-family: Pixelary;
    src: url("/docs/assets/fonts/Pixelary.otf");
}


body{
    background-image: url("/docs/assets/img/monopasukasleepysquare.png");
    background-color: darkgray;
    font-family: Pixelary;
    color: #a2a2a2;
}

a{
    font-size: 60px;
    color: #a2a2a2;
    text-decoration: none;
}

a:hover{
    font-size: 60px;
    color: white;
    text-decoration: none;
}

h1{
    font-size: 80px;
    color: #a2a2a2;
}

td{
    padding: 10px;
}

#bodyleft{
    float: left;
    width: 30%;
    padding: 20px;
    margin-left: 0;
    margin-right: auto;
}

#bodyright{
    float: right;
    width: 70%;
    padding: 20px;
    margin-right: 0;
    margin-left: auto;
}
