@font-face {
    font-family: Pixelary;
    src: url("/docs/assets/fonts/Pixelary.otf");
}

@font-face {
    font-family: BankPrinter;
    src: url("/docs/assets/fonts/F25_Bank_Printer.otf");
}

body{
    background-color: white;
    color: black;
}

a{
    color: black;
    text-decoration: none;
    font-family: Pixelary;
}

a:hover{
    color: gray;
    text-decoration: none;
    font-family: Pixelary;
}

h1{
    font-size: 80px;
    font-family: Pixelary;
}

h2{
    font-size: 60px;
    font-family: Pixelary;
}

h3{
    font-size: 50px;
    font-family: BankPrinter;
}

p{
    font-family: BankPrinter;
}

td{
    padding: 5px;
}

#header{
    width: 100%;
    padding: 10px;
    margin: auto;
}

#bodyleft{
    float: left;
    width: 20%;
    padding: 10px;
}

#bodyright{
    float: left;
    width: 65%;
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}