@font-face {
    font-family: Pixelary;
    src: url("/docs/assets/fonts/Pixelary.otf");
}


body{
    background-image: url("/docs/assets/img/monopasukasleepysquare.png");
    background-color: darkgray;
    font-family: Pixelary;
    color: white;
}

h1{
    font-size: 80px;
    color: white;
}

a{
    font-size: 60px;
    color: white;
    text-decoration: none;
}

#bodyleft{
    width: 30%;
    padding: 20px;
    margin-left: 0;
    margin-right: auto;
}
